:root {
    --theme-dropdown-background: black;
    --theme-dropdown-color: white;
    --theme-dropdown-border: white;
    --auwen-theme-border: white;
}

#scale {
    position: fixed;
    left: 0;
    width: 24px;
    height: 100%;
    top: 0;
    background-image: linear-gradient(var(--auwen-theme-border)), linear-gradient(var(--auwen-theme-border)), linear-gradient(var(--auwen-theme-border)), linear-gradient(var(--auwen-theme-border)), linear-gradient(var(--auwen-theme-border)), linear-gradient(var(--auwen-theme-border)), linear-gradient(var(--auwen-theme-border));
    background-size: 100% 4px;
    background-position: 0 100%, 0 90%, 0 70%, 0 50%, 0 30%, 0 20%, 0 5%, 0 0%;
    background-repeat: no-repeat;
}

#auwen-time {
    width: 146px;
    height: 140px;
    border: 4px solid var(--auwen-theme-border);
    border-inline: none;
    position: fixed;
    right: min(200px, 10vw);
    top: 100px;

    &::before {
        content: "";
        display: block;
        border: 2px solid var(--auwen-theme-border);
        width: 200px;
        rotate: -45deg;
        position: absolute;
        top: 68px;
        left: -29px;
    }
    &::after {
        content: "";
        display: block;
        border: 2px solid var(--auwen-theme-border);
        width: 200px;
        rotate: 45deg;
        position: absolute;
        top: 68px;
        left: -29px;
    }
}

#tiles {
    position: fixed;
    right: calc(min(200px, 10vw) + 146px);
    top: 238px;
}

#tiles > .contents {
    animation: blink 1s infinite;

    &:not(#tile-github) {
        width: 16px;
        height: 16px;
    }
}

#tiles > .contents::before {
    display: none;
}

#tiles > .contents:nth-child(1) {
    left: 50px;
    animation-delay: 0.1s;
    animation-duration: 2s;
}

#tiles > .contents:nth-child(2) {
    left: 60px;
    animation-delay: 0.2s;
}

#tiles > .contents:nth-child(3) {
    left: 80px;
    animation-delay: 0.2s;
}

#tiles > .contents:nth-child(4) {
    left: 100px;
    animation-delay: 0s;
    animation-duration: 2s;
}
#tiles > .contents:nth-child(5) {
    left: 20px;
    animation-delay: 0.4s;
}

@keyframes blink {
    from {
        opacity: 0.5;
    }
    33% {
        opacity: 1;
    }
    66% {
        opacity: 0.8;
    }
    100% {
        opacity: 0.5;
    }
}

#tiles > #tile-github {
    --cell-size: max(200px, 10vh);
    position: fixed;
    right: min(500px, 30vw);
    top: 300px;
    animation: dancer 1.5s infinite;
}

@keyframes dancer {
    from {
        rotate: -10deg;
    }
    33% {
        rotate: 0deg;
    }
    66% {
        rotate: 5deg;
    }
    100% {
        rotate: -10deg;
    }
}

#github-icon {
    filter: brightness(500%) opacity(60%) hue-rotate(90deg);
}
